PORT=9600
MONGO_URI=mongodb://localhost:27017/UserService
RABBITMQ_CONNECTION_STRING=amqp://localhost:5672
RABBITMQ_DEFAULT_USER=****
RABBITMQ_DEFAULT_PASS=****
RABBITMQ_DEFAULT_HOST=rabbitmq 
RABBITMQ_DEFAULT_PORT=5672
MONGO_DB_USERNAME=root
MONGO_DB_PASSWORD=example
JWT_ACCESS_TOKEN_SECRET=***
JWT_REFRESH_TOKEN=*** 
AWS_AccessKeyID=***
AWS_SecretAccessKey=****
AWS_Region=us-east-1 
GMAIL_PASS=****
GMAIL_USER=example@gmail.com
ORDER_SERVICE_PORT=9600
ORDER_SERVICE_HOST=orderservice
PRODUCT_SERVICE_PORT=9601
PRODUCT_SERVICE_HOST=productservice
DELIVERY_SERVICE_PORT=9603
DELIVERY_SERVICE_HOST=deliveryservice
AUTH_SERVICE_HOST=authservice
AUTH_SERVICE_PORT=9602