<%- include('layout/header') %>

<div class="container">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto mt-4">
                    <div class="card shadow">
                        <div class="card-header bg-primary">
                            <h5 class="text-light">Add <%= food.name %> To Cart</h5>
                        </div>
                        <div class="card-body p-4">
                            <form action="http://localhost:9601/meal-api/v1/food/add-food-to-cart" method="post" id="add-form" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="name"><% food.name %></label>
                                    <input type="text" name="name" class="form-control form-control-lg" value="<%= food.name %>" readonly/>
                                </div>
                                <div class="mb-3">
                                    <label for="Amount">Amount</label>
                                    <input type="number" name="Amount" class="form-control form-control-lg" placeholder="Enter Amount" required/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('layout/footer') %>


