<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div>
        <h1 id="confirm" class="confirm">
            Meal App Food Page
        </h1>
    </div>
    <div class="filter">
        <form>
            <label for="foods">Choose a Food Type:</label>
            <select name="foods" id="foods">
                <option value="soups">Soups</option>
                <option value="swallow">Swallow</option>
                <option value="singleFood">SingleFood</option>
                <option value="snacks">Snacks</option>
                <option value="drinks">Drinks</option>
                <option value="protiens">Protiens</option>
                <option value="dishes">Dishes</option>
            </select>
            <br><br>
            <input type="submit" value="Select" id="select-button">
          </form>
    </div>
    <!-- <div class ="food-list">
        <ul>
            <% food.forEach((item=>{%>
                <li>
                    <%=item.name%>
                    <%=item.price%>
                </li>
            <%}))%>
        </ul>
    </div> -->
    <div class="buy-food">
        <button>Get All Food</button>
    </div>
    <script src="/scripts/main.js"></script>
  </body>
</html>